<a href="https://colab.research.google.com/github/Shruti-lab/E-commerce-product-performance-data-analysis/blob/main/notebooks/E_commerce_product_performance_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# E-Commerce Product Performance Analysis

ðŸ”– Objective:-
 - To analyze a synthetic e-commerce dataset focusing on price, ratings, returns, and delivery trends.
 - The goal is to understand sales patterns, top products, and customer preferences through simple analysis and visualizations.
 - Cleaned and preprocessed data, handled missing values (~5%), and performed exploratory data analysis using Python.
 - Created interactive dashboards in Power BI/Tableau to visualize product performance and category-wise insights.
 - Delivered key business insights to optimize pricing, reduce return rates, and improve stock and delivery planning.

 Dataset source: [Kaggle E-Commerce Product Performance Dataset](https://www.kaggle.com/datasets/efeyldz/e-commerce-product-performance-dataset)

## ðŸ’¡ Key Questions
1.   Which products generate the most profit?
2.   Is there a correlation between views, cart adds, and purchases?
3.   Which products have the highest conversion rates?
4.   Which products have the highest conversion rates?
5.   What categories perform best in terms of revenue and profit?

### import Libraries

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

### Load & inspect the DataSet

In [2]:
df = pd.read_csv('/content/ecommerce_product_performance.csv')

## Data Fields

 - Product_Price: The listed price of the product in USD (range: 5 to 1000).
 - Discount_Rate: Discount rate applied to the product (0.0 to 0.8).
 - Product_Rating: Customer rating on a scale from 1 to 5.
 - Number_of_Reviews: Total number of user reviews (0 to 5000, highly skewed).
 - Stock_Availability: Product availability in stock (1 = available, 0 = out of stock).
 - Days_to_Deliver: Number of days it takes to deliver the product (1 to 30).
 - Return_Rate: Proportion of items returned after purchase (0.0 to 0.9).
 - Category_ID: ID of the product category (integer from 1 to 10).

In [12]:
print("----------------------Basic information about the dataset---------------")
df.info()

----------------------Basic information about the dataset---------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Product_Price       1900 non-null   float64
 1   Discount_Rate       1900 non-null   float64
 2   Product_Rating      1900 non-null   float64
 3   Number_of_Reviews   1900 non-null   float64
 4   Stock_Availability  1900 non-null   float64
 5   Days_to_Deliver     1900 non-null   float64
 6   Return_Rate         1900 non-null   float64
 7   Category_ID         1900 non-null   float64
dtypes: float64(8)
memory usage: 125.1 KB

In [11]:
print('-------------First 5 rows of Dataset------------\n')
df.head()

-------------First 5 rows of Dataset------------

,Product_Price,Discount_Rate,Product_Rating,Number_of_Reviews,Stock_Availability,Days_to_Deliver,Return_Rate,Category_ID
0,199.671415,0.177024,4.411071,62.0,1.0,9.0,0.185116,5.0
1,136.173570,0.041467,3.033534,201.0,1.0,3.0,0.384639,10.0
2,214.768854,0.276197,2.866881,479.0,1.0,19.0,0.056410,4.0
3,302.302986,0.094254,4.473473,252.0,1.0,11.0,NaN,7.0
4,126.584663,0.411845,3.553082,671.0,1.0,14.0,0.672163,6.0

In [10]:
print("--------------------Summary statistics of the dataset-----------------\n\n")
df.describe()

--------------------Summary statistics of the dataset-----------------

,Product_Price,Discount_Rate,Product_Rating,Number_of_Reviews,Stock_Availability,Days_to_Deliver,Return_Rate,Category_ID
count,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000,1900.000000
mean,156.774274,0.286993,3.729987,304.318421,0.903158,15.411579,0.328904,5.572105
std,93.484558,0.159012,0.885164,310.344539,0.295821,8.534049,0.176306,2.827601
min,5.000000,0.005368,1.000000,0.000000,0.000000,1.000000,0.006528,1.000000
25%,87.414867,0.165603,3.125828,86.750000,1.000000,8.000000,0.190178,3.000000
50%,153.663352,0.265994,3.770215,210.000000,1.000000,15.000000,0.307430,6.000000
75%,217.788796,0.391186,4.417711,429.000000,1.000000,22.000000,0.444752,8.000000
max,535.273149,0.800000,5.000000,2848.000000,1.000000,30.000000,0.900000,10.000000

In [9]:
df.shape

(2000, 8)

## ðŸ“Š Data Exploration & Cleaning

### Handling missing values âž–

The first few steps involve making sure that there are no missing values or incorrect data types before we proceed to the analysis stage. These aforementioned problems are handled as follows:

For Missing Values, some common techniques to treat this issue are:-
Dropping the rows containing the missing

*   Dropping the rows containing the missing values
*   Imputing the missing values
*   Keep the missing values if they don't affect the analysis

Incorrect Data Types:
*  Clean certain values
*  Clean and convert an entire column

In [13]:
print("Number of missing values in each column:")
df.isnull().sum()

Number of missing values in each column:

Product_Price         100
Discount_Rate         100
Product_Rating        100
Number_of_Reviews     100
Stock_Availability    100
Days_to_Deliver       100
Return_Rate           100
Category_ID           100
dtype: int64

In [14]:
#number of rows having all missing Values
print("Number of rows having all missing values:",df.isnull().all(axis=1).sum())

Number of rows having all missing values: 0

In [15]:
#number of Columns having all missing Values
print("Number of Columns having all missing values:",df.isnull().all(axis=0).sum())

Number of Columns having all missing values: 0

In [16]:
#count missing values in each row
df.isnull().sum(axis=1)

0       0
1       0
2       0
3       1
4       0
       ..
1995    1
1996    2
1997    0
1998    0
1999    0
Length: 2000, dtype: int64

In [17]:
#count the number of rows having > 3 missing values
print("Number of rows having more than 3 missing values:",df.isnull().sum(axis=1).gt(3).sum())
#count the number of rows having 3 missing values
print("Number of rows having 3 missing values:",df.isnull().sum(axis=1).eq(3).sum())
#count the number of rows having 2 missing values
print("Number of rows having 2 missing values:",df.isnull().sum(axis=1).eq(2).sum())
#count the number of rows having 1 missing values
print("Number of rows having 1 missing values:",df.isnull().sum(axis=1).eq(1).sum())
#count the number of rows having 0 missing values
print("Number of rows having NO missing values:",df.isnull().sum(axis=1).eq(0).sum())

Number of rows having more than 3 missing values: 0
Number of rows having 3 missing values: 10
Number of rows having 2 missing values: 94
Number of rows having 1 missing values: 582
Number of rows having NO missing values: 1314

### Treating missing values

In [18]:
#missing percetage
print("Missing percentage in each column:")
df.isnull().sum()/len(df.index)*100

Missing percentage in each column:

Product_Price         5.0
Discount_Rate         5.0
Product_Rating        5.0
Number_of_Reviews     5.0
Stock_Availability    5.0
Days_to_Deliver       5.0
Return_Rate           5.0
Category_ID           5.0
dtype: float64